@import "../../App.scss";
.item-card {
  border: solid 1px lightgray;
  width: 30%;
  height: 10.6rem;
  margin-top: 1rem;
  background: $primary-color; /* fallback for old browsers */
  background: linear-gradient(to right, $primary-color, $secondary-color);
  color: $text-color;
  border-radius: 10px;
  @include for-tablet-portrait-up {
    width: 40%;
  }
  @include for-phone-only {
    width: 80%;
  }
  &:hover {
    box-shadow: 10px 10px 36px 0px #000000bf;
    transform: scale(1.02);
  }
  .top-bar {
    display: flex;
    justify-content: space-between;
    .rank-badge {
      margin-right: 1rem;
      background: $primary-color;
      border-radius: 50%;
      width: 20px;
      text-align: center;
    }
  }
  .title {
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 1.75rem;
  }
  .rating {
    text-align: center;
    width: fit-content;
    margin: auto;
  }
  .variety {
    text-align: center;
    font-size: 0.86rem;
  }
  .style {
    font-size: 0.75rem;
    font-weight: 500;
  }
  .pad-5 {
    padding: 5px;
  }
}
