@import "../../App.scss";
.search-container {
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
  background: $primary-color;
  background: linear-gradient(to right, $primary-color, $secondary-color);
  input {
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    font-size: 1.4rem;
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus {
      color: #495057;
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }
}
